.about {
    position: relative;
    margin-top: 0;
    padding-bottom: 80px;
}

.inner {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 900px;
}

.right {
    width: 587px;
    margin-left: 293px;
    padding-top: 151px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}