.button {
    position: relative;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #2F80ED;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    overflow: hidden;

    &:hover {
        .text {
            transform: translateY(-15px);
        }
    }
}

.textWrapper {
    display: block;
    height: 15px;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    transition: transform 0.35s cubic-bezier(.4, 0, .2, 1);

    span {
        display: block;
        height: 15px;
        line-height: 15px;
        white-space: nowrap;
    }
}
@media (max-width: 767px) {
    .button {
        display: none;
    }
}
