.wrapper {
    position: relative;
    width: 733px;
    height: 900px;
}

.image {
    display: block;
    width: 733px;
    height: 900px;
    object-fit: cover;
}

.arrow {
    position: absolute;
    left: 604px;
    top: 114px;
    width: 259px;
    height: 259px;
}