.hero {
    padding-top: 31px;
    padding-bottom: 32px;
}

.content {
    margin-top: 50px;
}

@media (min-width: 1281px) and (max-width: 1769px) {
    .hero {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    .content {
        margin-top: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .hero {
        padding-top: 20px;
        padding-bottom: 48px;
    }

    .content {
        margin-top: 36px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero {
        padding-top: 18px;
        padding-bottom: 56px;
    }

    .content {
        margin-top: 32px;
    }
}

@media (max-width: 767px) {
    .hero {
        padding-top: 16px;
        padding-bottom: 48px;
    }

    .content {
        margin-top: 28px;
    }
}
