@use "./styles/fonts";
@use "./styles/variables";
@use "./styles/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Proxima Nova", sans-serif;
    background: #fff;
    color: #111;
}

button,
input,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
}
