.logo {
    display: flex;
    align-items: center;
}

@media (max-width: 1023px) {
    .logo img {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 767px) {
    .logo img {
        width: 126px;
        height: auto;
    }
}
