.select {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 240px;
    height: 51px;

    padding: 0 24px;

    background: #2F80ED;
    border: none;
    border-radius: 119px;

    cursor: pointer;

    color: #fff;

    white-space: nowrap;
    overflow: hidden;

    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    transition: transform .35s ease;

    &:hover {

        .text {
            transform: translateY(-15px);
        }

        .arrow {
            transform: rotate(180deg);
        }
    }
}

.value {
    height: 15px;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;

    transform: translateY(0);

    transition: transform .35s cubic-bezier(.4, 0, .2, 1);

    span {
        display: block;

        height: 15px;
        line-height: 15px;
    }
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    transition: transform .35s ease;

    svg {
        display: block;
    }
}