.phone {
    font-size: 17px;
    font-weight: 600;
    color: #111;
    text-decoration: none;
    transition: .3s;

    &:hover {
        opacity: .6;
    }
}
@media (max-width: 1023px) {
    .phone {
        display: none;
    }
}
